@font-face {
	font-family: 'Graduate';
	font-style: normal;
	font-weight: 400;
	src: local('Graduate'),
		local('Graduate-Regular'),
		url(fonts/graduate.eot) format('embedded-opentype'),
		url(fonts/graduate.ttf) format('truetype'),
		url(fonts/graduate.woff) format('woff');
}
@font-face {
    font-family: 'cassannet_plusregular';
    src: url('./fonts/cassannet_plus_regular/cassannet_plus_regular-webfont.eot');
    src: url('./fonts/cassannet_plus_regular/cassannet_plus_regular-webfont.eot') format('embedded-opentype'),
         url('./fonts/cassannet_plus_regular/cassannet_plus_regular-webfont.woff2') format('woff2'),
         url('./fonts/cassannet_plus_regular/cassannet_plus_regular-webfont.woff') format('woff'),
         url('./fonts/cassannet_plus_regular/cassannet_plus_regular-webfont.ttf') format('truetype'),
         url('./fonts/cassannet_plus_regular/cassannet_plus_regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'basier_square_monoregular';
    src: url('./fonts/basier/basiersquaremono-regular-webfont.eot');
    src: url('./fonts/basier/basiersquaremono-regular-webfont.eot') format('embedded-opentype'),
         url('./fonts/basier/basiersquaremono-regular-webfont.woff2') format('woff2'),
         url('./fonts/basier//basiersquaremono-regular-webfont.woff') format('woff'),
         url('./fonts/basier/basiersquaremono-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
body {
	background: #2B355B;
	font: normal 1.6em basier_square_monoregular, Arial, sans-serif;
	line-height: 1.6;
	color: #e2e0e9;
	position: relative;
	
}
h1 {
	font-family: "cassannet_plusregular", "Times New Roman", Verdana;
	font-weight: normal;
	margin-top: 0;
}
h1 {
	font-size: 2em;
	line-height: 1.2em;
	padding: 0.5em 0.3em 0.2em 0.3em;
	text-align: center;
	color: #a7a7a7;
}
h1:before {
	content: " • ";
}
h1:after {
	content: " • ";
}
h3 {
	font-size: 1.5em;
	line-height: 1em;
	padding-top: 0.2em;
	margin: 0.3em;
}
a {
	text-decoration: none;
	color: #e2e0e9;
}

.description {
	text-align: center;
	padding: 1em;
}
.description>a{
	text-decoration: underline;

}
button {
	display: block;
	margin: 0 auto 2em;
	color:  #e2e0e9;
	background-color: #2E689C;
}
article  button {
	display: inline;
	margin: 0 auto 2em;
}
main {
	width: 100%;
	background: #2B355B;
}
main a:hover {
	text-decoration: none;
	border-bottom: 1px solid #b12a34;
}
main p {
	padding-bottom: 1.5em;
}
main ul {
	padding: 0.2em;
}
main li {
	line-height: 1.4em;
	margin-left: 0.2em;
}

article {
	border-bottom: 0.1em solid #acabab;
	padding: 0.3em;
	display: block;
}
article>div{
	display: inline-block;
}
article>div.actData{
	width: 40%;
	vertical-align: top;
}
.actName{
	text-align: left;
}
div.actButtons{
	text-align: center;
	vertical-align: text-bottom;
}
div.actButtons>button{
	margin-left: 5px;
}
footer {
	border-top: 0.2em solid #fff;
}
ul{
	list-style-type: none;
}
footer p {
	width: 90%;
	margin: 0 auto;
	color: #e2e2e2;
	font-size: 0.7em;
	padding: 0.4em 0;
	position: relative;
	text-align: center;
	line-height: 1.2;
}
footer a {
	color: #fff;
	font-weight: bold;
}
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
	background-color: #2E689C;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-height: calc(80vh);
    overflow-y: auto;
  }
  
  /* The Close Button */
  .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
  div.dateFilter{
	overflow-x: auto;
	overflow-y: hidden;
  	white-space: nowrap;
	height: 7rem;
	position: sticky;
	text-align: center;
	display: block;
 	top: -1px;
	padding: 1rem 0.75rem;
	opacity: 1;
	background-color: #2B355B;
  }
  div.dateFilter>button{
	display: inline-block
  }
  button.round-btn{
	border-radius: 3.75rem;
	align-items: center;
	width: 5rem;
    height: 5rem;
	box-sizing: border-box;
    border: 1px solid #09cf34;
  }
  button.round-btn>span{
	display: block;
  }
  button.round-btn.selected{
	background-color: #2da4b1;
	border: 3px solid #24f150;
  }
  button.round-btn.hide{
	display: none;
  }
  div.progFav{
	display: block;
	height: 5rem;
	text-align: center;
  }
  div.progFav>a{
	display: inline-block;
	width: 40%;
	height: 95%;
	margin-right: 1rem
  }
  div.progFav>a.selected{
	background-color: #4d2e7f;
  }
  div.progFav>a>button{
	width: 90%;
	height: 95%;
	background-color: transparent;
	border-width: 0px;
	font-weight: 800;
	font-size: 2.5rem;
  }
  input[type="text"]#myName{
	display: inline-block;
	margin: 2rem 1.6rem auto auto;
	width: 15rem;
	padding-top: 1.2rem;
	padding-left: 13rem;
  }
  input[type="text"]#friendsName{
	display: inline-block;
	margin: 2rem 1.6rem auto auto;
	width: 15rem;
	padding-top: 1.2rem;
	padding-right: 5rem;
  }
 
  div.friends{
	text-align: center;
  }
  button.friends{
	display: inline-block;
  }
  button.delete{
	background-color: #a86d71;
	margin-left: 3rem;
  }
  button.delete.act>img{
	height: 20px;
	width: 20px;
  }
  div.friends>p{
	display: none;
  }
  div.friends>p.ani{
	display: block;
	animation: fadeIn 2s;
	background-color:#2da4b1;
	color: black;
  }
  @keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }
  .round-btn.friends>img{
	height: 40px;
	width: 40px;
  }
